body {
  background-color: rgb(75, 75, 75); 
}

.container {
  font-family: 'Open Sans', sans-serif;
  display:grid; 
  grid-gap: 3px; 
  background-color: rgb(75, 75, 75);   
}

.topbanner {
  text-align: center; 
  background-color: #659DBD; 
  font-family: 'Volkhov', serif;
  color: rgb(39, 39, 39); 
}

.maincontent {
  background-color: floralwhite; 
  padding: 1em; 
}

.footer {
  color: whitesmoke; 
}

.prompt_tool {
  display: grid; 
  grid-template-columns: 250px auto;
}

button {
  font-size: 18px; 
  background-color: #df8084;
  border: none;
  border-radius: 3%;
  border-bottom: 3px darkslategray solid;
  border-right: 3px darkslategray solid; 
  padding: 1em; 
}

button:hover {
  opacity: 90%; 

}

button:active {
  transform: translateY(2px); 
  border-bottom: 1px black solid; 
  border-right: 1px black solid; 
}

.prompt_input {
  background: #FBEEC1;
  text-align: left; 
  padding: 2em; 
}

.prompt_output {
  background-color: whitesmoke; 
  padding: 0.5em 0em 0em 1em; 
}

.radioChoices {
  color: whitesmoke; 
}

input {
  width: 85%; 
}