@media only screen and (max-width: 600px) {
  * {
    margin: 1px 0px 1px; 
  }

  .prompt_tool {
    display: grid; 
    margin: 0; 
    width: 100%; 
  }

}

body {
  background-color: rgb(75, 75, 75); 
}

.container {
  font-family: 'Open Sans', sans-serif;
  display:grid; 
  grid-gap: 3px; 
  background-color: rgb(75, 75, 75);   
}

.topbanner {
  text-align: center; 
  background-color: #659DBD; 
  font-family: 'Volkhov', serif;
  color: rgb(39, 39, 39); 
}

.maincontent {
  background-color: floralwhite; 
  padding: 1em; 
}

.footer {
  color: whitesmoke; 
}

.prompt_tool {
  display: grid; 
  margin: 0; 
  grid-template-columns: 100px 1fr;
}

button {
  font-size: 18px; 
  background-color: #df8084;
  border: none;
  border-radius: 3%;
  border-bottom: 3px darkslategray solid;
  border-right: 3px darkslategray solid; 
  margin: 0.5em 3px 0; 
  color: whitesmoke; 
  font-weight: bold; +
}

button:hover {
  opacity: 90%; 

}

button:active {
  transform: translateY(2px); 
  border-bottom: 1px black solid; 
  border-right: 1px black solid; 
}

.prompt_input {
  background: beige;
  text-align: center; 
}

.prompt_output {
  background: beige;
  padding: 0em 0em 1em 1em;
}

.saq_output_box {
  background-color: white; 
  width: 85%;
  padding: 1em; 
  border: purple 1.5px solid; 
}

.leq_output_box {
  background-color: white; 
  width: 85%;
  padding: 1em; 
  border: purple 1.5px solid; 
}

.radioChoices {
  color: whitesmoke; 
}

textarea {
  width: 85%; 
}